<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rockhit0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rockhit1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,52}</string>
                <key>spriteSourceSize</key>
                <string>{54,52}</string>
                <key>textureRect</key>
                <string>{{54,0},{54,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rockhit.png</string>
            <key>size</key>
            <string>{108,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdb938eff1ee3ce55df6b4b6ea3d3c89:154b87aaba2d08fc80ff21fc9f518cd6:dfbd0a9aa6caf603bf64b8458fdd9c3b$</string>
            <key>textureFileName</key>
            <string>rockhit.png</string>
        </dict>
    </dict>
</plist>
