<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle 1 (44x26)-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{44,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{440,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{484,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{528,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{572,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{88,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{132,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{176,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{220,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{264,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{308,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{352,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Idle 1 (44x26)-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,26}</string>
                <key>spriteSourceSize</key>
                <string>{44,26}</string>
                <key>textureRect</key>
                <string>{{396,0},{44,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{616,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4746236c8f9a3da154e0865492dcbf7:bd592b8f68b37f53455a4eff7997c7c5:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
