<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>snail00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{34,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{68,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{102,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{136,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{170,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{204,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{238,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{272,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{306,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{340,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{374,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{408,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{442,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{476,0},{34,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>snail.png</string>
            <key>size</key>
            <string>{510,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b26503c33168b869eaef6613609e2be6:77e1237ab74c68ecc573410716a0e6c0:97ddf434755038fd5d6537df094ff554$</string>
            <key>textureFileName</key>
            <string>snail.png</string>
        </dict>
    </dict>
</plist>
